:root {
  /*========== Colors ==========*/
  --Purple: #360a3e;
  --Purple-navbar: #2a0e33;
  --White: #fff;
  --Black: #000;
  --green-line: #76AA7C;
  --blue: #3C71A6;
  --gray: #C4C4C4;

  /*========= Font-size ========*/
  --Font-sm: 13px;
  --Font-md: 15px;
  --Font-lg: 18px;

  /*======= Font-weight ========*/
  --font-medium: 400;
  --font-bold: 700;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
  line-height: 2;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}

/* HEADER */

.header .header__nav {
  display: flex;
  background-color: var(--Purple-navbar);
  justify-content: space-between;
  height: 2.5rem;
  position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
}
.header .header__div-left {
  margin-left: 0.8rem;
  opacity: 0;
}

.header .header__div-center {
  display: flex;
  margin-left: 2rem;
  width: 45rem;
}
.header .header__div-icons {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 100;
}
.header .header__div-icons .header__nav-arrow {
  color: var(--White);
  margin-left: 1rem;
  margin-right: 1rem;
}
.header .header__div-input {
  display: flex;
  align-items: center;
  max-width: 31.25rem;
  width: 100%;
}
.header .header__div-input .input-search {
  width: 100%;
  background-color: #381f41;
  border: 1px solid #5f4c67;
  border-radius: 5px;
  color: var(--White);
  opacity: 0.8;
}
.header .input-search::placeholder {
  color: var(--White);
  text-align: center;
  font-weight: 300;
  font-size: var(--Font-sm);
}
.header .header__div-question {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 1.2rem;
  width: 1.2rem;
  margin-left: 0.8rem;
  border: 2px solid var(--White);
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  margin-right: 0.6rem;
}
.header .header__div-question p {
  color: var(--White);
  text-align: center;
}
.header .header__div-question .bagde {
  position: absolute;
	top: -6.5px;
  right: -6.5px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 2px solid var(--Purple-navbar);
	background: var(--White);
  display: flex;
	justify-content: center;
	align-items: center;
	color: var(--White);
	font-size: 10px;
	font-weight: 700;
}
.Header-div-question p {
  color: var(--White);
  text-align: center;
}

.header__div-right {
  max-width: 15rem;
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 0.8rem;
  justify-content: flex-end;
}
.header__div-right .header__flag {
  position: relative;
  order: 0;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 7px 0 0 7px;
  background-color: #3e2647;
}
.header__div-right .header__flag p {
  position: absolute;
  width: 15px;
	height: 15px;
  top: -3px;
  right: 9px;
}
.header__div-right .header__perfil {
  position: relative;
  order: 1;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 0 7px 7px 0;
  background: linear-gradient(to bottom right, red, orange);
}
.header__div-right .header__perfil .bagde {
  position: absolute;
	top: 17px;
  right: -5px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 3px solid var(--Purple-navbar);
	background: var(--green-line);
  display: flex;
	justify-content: center;
	align-items: center;
	color: var(--green-line);
	font-size: 10px;
	font-weight: 700;
}


/* HEADER */

/* MAIN */


.main {
  min-height: calc(100vh - 2.5rem);
  height: 100%;
  background-color: var(--White);
}
.main__aside {
  display: flex;
  position: fixed;
  width: 21rem;
  height: 100%;
  background-color: var(--Purple);
  overflow-y: auto;
	scrollbar-width: none;
	transition: all .3s ease;
	z-index: 200;
}
.main__aside::-webkit-scrollbar {
	display: none;
}
.main__aside-sectionWorkspace {
  background-color: var(--Purple);
  border-top: 1px solid #492451;
  border-right: 1px solid #492451;
  max-width: 3.5rem;
  width: 100%;
  position: fixed;
  height: 100%;
}
.box-workspace {
  height: 32px;
  width: 32px;
  background-color: gray;
  margin: 0.7rem;
  margin-top: 0.9rem;
  text-align: center;
  justify-content: center;
  color: var(--White);
  font-weight: 700;
  border-radius: 5px;
}
.isActive {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  height: 42px;
  width: 42px;
  top: 55.8px;
  left: 6px;
  border: 3px solid #FFF;
  border-radius: 10px;
}
.box-workspace-plus {
  height: 32px;
  width: 32px;
  font-size: 30px;
  margin: 20px auto;
  text-align: center;
  flex-direction: column;
  color: #EEE;
  font-weight: 700;
  opacity: 0.8;
}
.main__aside-sectionChannels {
  width: 100%;
  min-height: 100vh;
  margin-left: 3.5rem;
}
.main__channels-header {
  position: fixed;
  max-width: 17.5rem;
  width: 100%;
  height: 80px;
  border: 1px solid #492451;
  font-weight: 700;
  font-size: 15px;
  color: var(--White);
  background-color: var(--Purple);
  z-index: 100;
}
.main__channels-header h2 {
  margin-left: 20px;
  position: relative;
  top: 1rem;
}
.main__chanels-header-icon {
  border-radius: 50%;
  background-color: var(--White);
  height: 2.5rem;
  width: 2.5rem;
  font-weight: 100;
  font-size: 25px;
  position: absolute;
  top: 1rem;
  left: 11.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__chanels-header-icon i {
  color: var(--Purple-navbar);
}
.main__sectionChannels-options {
  position: relative;
  margin-top: 80px;
  margin-left: 1.2rem;
  font-weight: 400;
  font-size: 18px;
  color: var(--White);
  opacity: 0.7;
}
.channels-options {
  text-decoration: none;
  color: var(--White);
  font-weight: var(--font-medium);
  font-size: var(--Font-md);
  margin-left: 0.7rem;
}
.main__sectionChannels-channels .icon-right {
	margin-left: auto;
	transition: all .3s ease;
  transform: rotateZ(90deg);
}
.main__sectionChannels-channels {
  padding: 0 20px;
	transition: all .3s ease;
  margin-top: 1rem;
}
.main__sectionChannels-channels a {
	font-size: var(--Font-md);
	color: var(--White);
	padding: 12px 50px 12px 0;
	transition: all .3s ease;
	border-radius: 10px;
	margin: 8px 0;
  opacity: 0.7;
}
.main__sectionChannels-channels a:hover {
	background: var(--blue);
}
.main__sectionChannels-channels .main__sectionChannels-dropdown {
  padding-left: 20px;
  padding-bottom: 10px;
}
.main__sectionChannels-channels .main__sectionChannels-dropdown a:hover {
	background-color: var(--blue);
}
.main__sectionChannels-dropdown i {
  background-color: var(--White);
  opacity: 0.5;
  border-radius: 5px;
  font-size: var(--Font-lg);
}
.main__sectionChannels-dropdown li {
  position: relative;
}
.main__sectionChannels-dropdown img {
  width: 20px;
  height: 20px;
}
.main__sectionChannels-dropdown span {
  position: absolute;
  top: 15px;
  left: 13px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	border: 3px solid var(--Purple-navbar);
	background: var(--green-line);
  display: flex;
	justify-content: center;
	align-items: center;
	color: var(--green-line);
	font-size: 10px;
	font-weight: 700;
}

.main__sectionChannels-dropdown span.isInactive {
  color: var(--White);
  background: var(--White);
}
.main__sectionChannels-dropdown span.isAbsent {
  color: var(--Purple);
  background: var(--Purple);
  border: 2px solid var(--White);
  width: 8px;
	height: 8px;
}



/* CHAT */



.main__chat {
  display: flex;
  max-width: calc(100% - 21rem);
  width: 100%;
  min-height: calc(100vh - 2.5rem);
  height: 100%;
  margin-left: 21rem;
}
.main__chat .main__message {
  position: fixed;
  max-width: calc(100vw - 736px);
  width: 100%;
  min-height: calc(100vh - 2.5rem);
  height: 100%;
  overflow-y: auto;
	scrollbar-width: none;
}
.main__message-header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  height: 5rem;
  border-bottom: 1px solid var(--gray);
  background-color: var(--White);
  z-index: 100;
}
.main__message-header .message-header-left {
  display: relative;
  margin-left: 3rem;
  padding: 0;
  line-height: 1.2;
}
.message-header-left .online {
  position: absolute;
  top: 25px;
  left: 30px;
  background-color: #76AA7C;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.message-header-left span {
  font-size: var(--Font-md);
}
.message-header-right {
  font-size: 25px;
  font-weight: 700;
  color: #606060;
}
.message-header-right i {
  margin-right: 2rem;
}


.chat-input {
  display: flex;
  position: sticky;
  top: calc(100vh - 140px);
  left: 7px;
  max-width: calc(100vw - 750px);
  height: 85px;
  width: 100%;
  background-color: var(--White);
  border-radius: 5px;
  border: 1px solid var(--gray);
  z-index: 100;
}
.chat-input-down {
  background-color: #F8F8F8;
  width: 100%;
  height: 32px;
  align-self: flex-end;
}
.chat-input-down img {
  position: absolute;
  left: 40px;
}
.chat-input-down .plus {
  position: absolute;
  left: 10px;
  font-size: 22px;
  font-weight: 100;
  color: var(--gray);
}
.chat-input-down i {
  position: absolute;
  right: 15px;
  bottom: 5px;
  font-size: 22px;
  color: var(--gray);
}

/* AD */

.main__message-ad {
  display: flex;
  flex-wrap: wrap;
  background-color: #F8F8F8;
  margin-top: 10px;
  max-height: 180px;
  height: 100%;
  z-index: 250;
}
.message-ad {
  margin-left: 50px;
  margin-right: 50px;
  line-height: 1.7;
}
.message-ad button {
  margin-top: 10px;
  width: 180px;
  height: 35px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  background-color: #34785C;
  color: var(--White);
}

/* AD */

/* MESSAGE */

.main__message-content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 420px);
  justify-content: flex-end;
  overflow-y: auto;
	scrollbar-width: none;
	transition: all .3s ease;
	z-index: 200;
}
.message-content-chat {
  display: flex;
  position: relative;
  border-top: 1px solid var(--gray);
  padding-bottom: 30px;
}
.message-date {
  position: absolute;
  width: 180px;
  height: 30px;
  top: -15px;
  left: 39%;
  border: 1px solid var(--gray);
  background-color: var(--White);
  border-radius: 35px;
  z-index: 100;
}
.message-date p {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}
.message-content-chat .content-chat-img img {
  height: 30px;
  width: 30px;
}
.content-chat-img {
  margin: 15px;
}
.content-chat-message {
  margin-right: 30px;
}
.content-chat-message span {
  font-size: var(--Font-sm);
  font-weight: 400;
  color: #6F6F6F;
}
.content-chat-message p {
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
}
.message-icon {
  position: absolute;
  width: 220px;
  height: 38px;
  border: 1px solid var(--gray);
  border-radius: 8px;
  background-color: var(--White);
  font-size: 22px;
  font-weight: 400;
  color: #6F6F6F;
  text-align: center;
  top: 5px;
  right: 70px;
}
.message-icon i {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.message-reaction {
  position: absolute;
  display: flex;
  width: 35px;
  justify-content: center;
  align-items: center;
  height: 20px;
  border-radius: 10px;
  background-color: #EEE;
  font-size: 13px;
  font-weight: 100;
  color: #6F6F6F;
  text-align: center;
  top: 65px;
  left: 60px;
}

/* MESSAGE */


/* THREAD */


.main__chat .main__thread {
  position: fixed;
  background-color: var(--White);
  max-width: 400px;
  width: 100%;
  min-height: calc(100vh - 2.5rem);
  height: 100%;
  right: 0;
  border: 1px solid var(--gray);
}
.main__thread-header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  height: 5rem;
  background-color: var(--White);
  z-index: 100;
}
.main__thread-header .thread-header-left {
  margin-left: 1.5rem;
  padding: 0;
  line-height: 1.2;
}
.main__thread-header .thread-header-left p {
  color: #616061;
}
.thread-header-right {
  font-size: 20px;
  font-weight: 400;
  color: #606060;
}
.thread-header-right span {
  margin-right: 1rem;
}
.main__thread-content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 250px);
  overflow-y: auto;
	scrollbar-width: none;
	transition: all .3s ease;
	z-index: 200;
  overflow-y: auto;
	scrollbar-width: none;
	transition: all .3s ease;
	z-index: 200;
}
.main__thread-content::-webkit-scrollbar {
	display: none;
}
.thread-content-chat {
  display: flex;
  position: relative;
  padding-bottom: 10px;
}
.content-chat-thread {
  margin-right: 18px;
}
.thread-content-chat .content-chat-img img {
  height: 30px;
  width: 30px;
}
.content-chat-thread span {
  font-size: 11px;
  font-weight: 400;
  color: #6F6F6F;
}
.content-chat-thread p {
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
}
.content-chat-thread p span {
  color: var(--blue);
  background-color: #EEF4FA;
}
.content-chat-thread a {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #3C71A6;
}
.thread-content-chat .hidden-img img {
  height: 30px;
  width: 30px;
  opacity: 0;
}
.content-chat-thread .link {
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  color: #3C71A6;
}

.chat-input-thread {
  margin-top: 10px;
  display: flex;
  position: sticky;
  max-width: calc(100vw - 750px);
  height: 85px;
  margin-left: 15px;
  width: 90%;
  background-color: var(--White);
  border-radius: 5px;
  border: 1px solid var(--gray);
  z-index: 100;
}


/* THREAD */

/* CHAT */

/* MAIN */



/* MEDIA QUERIES */

@media (max-width: 1100px) {
  .main__chat .main__message {
    max-width: calc(100vw - 636px);
    width: 100%;
  }
  .main__chat .main__thread {
    max-width: 300px;
    width: 100%;
    right: 0;
  }
  .img-post {
    width: 200px;
  }
  .message-icon {
    top: 60px;
    right: 10px;
  }
  .message-content-chat {
    padding-bottom: 40px;
  }
  .message-reaction {
    top: 80px;
  }
  .main__message-ad {
    display: none;
  }
  .main__message-content {
    height: calc(100% - 235px);
  }
  .chat-input {
    top: calc(100vh - 140px);
    max-width: calc(100vw - 19rem);
    width: 100%;
  }
  .chat-input-thread img {
    opacity: 0;
  }
}

@media (max-width: 979px) {
  .main__aside {
    width: 18rem;
  }
  .main__channels-header {
    max-width: 14.5rem;
    width: 100%;
  }
  .main__sectionChannels-channels .main__sectionChannels-dropdown {
    padding-left: 1px;
  }
  .header__div-right {
    max-width: 10rem;
    width: 100%;
  }
  .main__chat .main__thread {
    display: none;
  }
  .main__chat .main__message {
    max-width: calc(100vw - 18rem);
    width: 100%;
    left: 18rem;
  }
  .main__message-content {
    height: calc(100% - 420px);
  }
  .main__message-ad {
    display: flex;
  }
  .message-icon {
    top: 20px;
    right: 10px;
  }
}

@media (max-width: 767px) {
  .header .header__div-left {
    display: none;
  }
  .header .header__div-center {
    margin-left: 0.6rem;
  }
  .header__div-right {
    max-width: 5rem;
    width: 100%;
  }
  .main__message-content {
    height: calc(100% - 230px);
  }
  .main__message-ad {
    display: none;
  }
  .message-icon {
    top: 60px;
    right: 10px;
  }
  .chat-input-down img {
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .main__aside {
    display: none;
  }
  .header .header__div-center {
    margin-left: 0.2rem;
  }
  .header__div-right {
    max-width: 3rem;
    width: 100%;
  }
  .header .header__div-icons .header__nav-arrow {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .main__chat .main__message {
    max-width: calc(100vw - 0rem);
    width: 100%;
    left: 0rem;
  }
  .chat-input {
    top: calc(100vh - 140px);
    max-width: calc(100vw - 0rem);
    width: 100%;
  }
  .chat-input-down img {
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .main__aside {
    display: flex;
    max-width: 100vw;
    width: 100%;
  }
  .main__channels-header {
    max-width: calc(100vw - 3.5rem);
    width: 100%;
  }
  .header .header__nav {
    display: none;
  }
}

/* MEDIA QUERIES */
